<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<%provide(:title, "Signup") %>
<div class = "container">
	<div class="wrapper">
		    <h3 class="form-signin-heading">turistagram 新規登録</h3>
			  <hr class="colorgraph"><br>
              <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages',object: f.object%>
              <%= f.label :名前 %>  
			  <%= f.text_field :name, class: 'form-control' %>
              <%= f.label :メールアドレス %>  
              <%= f.email_field :email, class: 'form-control' %>
              <%= f.label :パスワード %>  
			  <%= f.password_field :password, class: 'form-control' %>
              <%= f.label :password_confirmation, "パスワード再確認" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              <%= f.submit "turisutagramを始める！", class: "btn btn-lg btn-primary btn-block" %>
              <% end %>	
		
	</div>
</div>
