<ul class = "post_image">
<%= image_tag post.picture.url if post.picture?%> 
</ul>
<div class = "post_page">
 <%= link_to gravatar_for(post.user, size: 50), post.user %>
 <span class="user">＠<%= link_to post.user.name, post.user %></span>
 <span class="content">
  <%= post.content %>
 </span>
  <span class="timestamp">
     <%= time_ago_in_words(post.created_at) %>前.
  </span>
<% if current_user?(post.user) %>
  <%= link_to "削除", post, method: :delete, 
              data: { confirm: "投稿を削除しますか？" }%>
<% end %>
</div>