 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <% if logged_in? %>
           <%= link_to "turistagram", root_path, id: "logo" %>
        <%else%>
           <%= link_to "turistagram", top_path, id: "logo" %>
         <%end%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "マイページ",   user_path(current_user) %></li>
            <li><%= link_to "プロフィール編集",   edit_user_path(current_user) %></li>
            <li><%= link_to "ユーザー一覧",   users_path %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ページトップ",   top_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>